@import "tailwindcss";

@theme {
      --color-surface: #100F0F
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html, root, #root {
      width: 100%;
      height: 100%;
}
